body {
    font-family: Roboto, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f2937;

}

nav ul {
    display: flex;

}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

blockquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}

.inspiration {
    background-color: #e5e7eb;

}

.hero-cta {
    background-color: #3882f6;
}

.main {
    width: 100%;
}

.main h2 {
    font-size: 36px;
    color: #1f2937;
}

.cta {
    background-color: #3882f6;
}

.cta button {
    background-color: inherit;
    color: #e5e7eb;
    border-color: #e5e7eb;
}