body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    color: #e5e7eb;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
}

h4 {
    font-size: 24px;
    font-weight: extra-bold;
    color: #e5e7eb;
    margin-bottom: 0px;

}

button {
    border-radius: 5px;
    border: none;
    padding: 8px 16px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
}

blockquote {
    padding-top: 32px;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

li {
    font-size: 18px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    color: white;
}

.header {}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
}

.gap {
    gap: 2em;
}

.break {
    display: block;
}

.hero {
    padding: 3em 0;
}

.hero img {
    max-width: 600px;
}

.cards {
    display: flex;
    gap: 16px;
    justify-content: center;
    color: #1f2937;
}

.card img {
    width: 175px;
    border: 5px solid #3882f6;
    border-radius: 10%;

}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
}

.right {
    margin-top: 0px;
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.cta {
    margin-top: 132px;
    margin-bottom: 132px;
    background-color: #3882f6;
    border-radius: 20px;
    padding: 16px 132px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-cta p {
    margin-top: 0px;
}

#cta-button {
    background-color: inherit;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
}

.footer {
    padding: 24px 0;
    text-align: center;
}



.responsive {
    width: 100%;
    height: auto;
}